footer {
	margin-top: 2em;
	padding-top: 0.5em;
	border-top: 1px solid black;
}
footer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: inline;
}
footer ul > li {
	display: inline;
}
footer ul > li:before {
	content: "[ ";
}
footer ul > li:after {
	content: " ]";
}
